

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :Логин %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :Пароль %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= submit_tag "Вход" %>
  </div>

<% end %>

