  <div class="field">
    <%= f.label :permalink, "Адрес урла статьи" %><br />
    <%= f.text_field :permalink, :size => "61" %><br /><br />
  </div>
  <div class="field">
    <%= f.label :title, "Здесь тайтл, он же h1" %><br />
    <%= f.text_field :title, :size => "61" %><br /><br />
  </div>
  <div class="field">
    <%= f.label :preview, "То, что будет во введении" %><br />
    <%= f.text_area :preview, :size => "80x10" %><br /><br />
  </div>
  <div class="field">
    <%= f.label :text, "ВСЯ статья целиком, ВКЛЮЧАЯ введение!" %><br />
    <%= f.text_area :text, :size => "80x20" %><br /><br />
  </div>
  <div class="field">
    <%= f.label :category, "Без категории статью НЕ создавай" %>
    <%= f.select :category, options_for_select(["technology", "world", "gadgets", "cosmos"], @article.category) %>
  </div>
  <div class="field">
    <%= f.label :visible, "Видна ли на главной? Кликни, ЕСЛИ видна" %>
    <%= f.check_box :visible  %>
  </div>
  <div class="field">
    <%= f.label :sidebar_visible, "Видна ли в Последних статьях?" %>
    <%= f.check_box :sidebar_visible %>
  </div>
