<h1>Hello, world!</h1>

  <% @articles.each do |article| %>
  <div class="article">
    <div class="article_h2">
      <h2><%= link_to("#{article.title}", {:action => :show, :id => article.id}) %></h2>
    </div>

    <div class="article_preview">
      <%= article.preview %>
    </div>

    <div class="destroy_article_action">
      <%= link_to("delete", article, :method => :delete, :confirm => "Семь раз отмерь, один раз отрежь!") %>
      <%= link_to("edit", edit_article_path(article)) %><br />
      <%= link_to("Create new article", new_article_path) %> 
    </div>  
  </div>
  <% end %>
</div>
  
