  <% @articles.each do |article| %>
  <div class="article">
    <div class="article_h2">
      <h2 class="preview_h2"><%= link_to("#{article.title}", article_path(article)) %></h2>
    </div>

    <div class="article_preview">
      <%= raw RedCloth.new(article.preview).to_html %>
    </div>

    <div class="destroy_article_action">
    <% if current_user %>
      <%= link_to("delete", article, :method => :delete, :confirm => "Семь раз отмерь, один раз отрежь!") %>
      <%= link_to("edit", edit_article_path(article)) %>
    <% end %>
      <p> Опубликовано <%= article.created_at.strftime("%d %B %Y, %H:%M") %></p>
    </div>  
  </div>
  <% end %>

<%= paginate @articles %>
</div>
