<div id="leftc">
  <div class="article">
    <div class="inner-entry">
      <h1><%= @article.title %></h1>
        <div class="article_time">
          <p> Опубликовано <font color="#055DAE"><%= I18n.l @article.created_at, :formats => :default %></font></p>
        </div>
        <p><%= raw  RedCloth.new(@article.text).to_html %></p>
        <% if current_user %>
          <p> <%= link_to("delete", @article, :method => :delete, :confirm => "Are you sure?") if current_user.admin? %>
          <%= link_to("edit", edit_article_path(@article)) if current_user.admin? %> </p>
        <% end %>
<div style="display:inline">
<table>
  <tbody>
    <tr>
          <td><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div> </td>

          <td><div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "mini"});
</script></td>

          <td><div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=176127499111477&amp;xfbml=1"></script><fb:like href="http://scione.ru" send="false" layout="button_count" show_faces="false" font="tahoma"></fb:like></td>
      
      </tr>
    </tbody>
  </table>
    
</div>
        
        <!-- End of Vkontakte comments API -->
        <h3>Комментарии:</h3>
        <div id="vk_comments"></div>
          <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", {limit: 10, width: "600", attach: "*"});
          </script>
        <!-- The end of Vkontakte comments API -->
    </div>
  </div>
</div>
