<div id="header">
  <a href="/"><div id="logo">
  </div></a>
  <div class="nav">
    <% if current_user %>
      <ul>
        <li><b><%= Article.count %></b> статей в базе </li> -
        <li><%= link_to "Все статьи", all_articles_path %></li> |
        <li>logged in as <strong><%= current_user.username %></strong></li> |
        <li><%= link_to "На главную", articles_path %> |
        <li><%= link_to("Добавить новую статью", new_article_path) %></li> |
        <li><%= link_to "Sign out", log_out_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>
<div id="categories">
  <div id="themes">
    <%= link_to image_tag("rss-icon.png", :size => "25x25", :align => "right"), 'http://feeds.feedburner.com/scione' %>
    <ul class="main-menu">
      <li<%= put_class('technology') %>><%= link_to "ТЕХНОЛОГИИ", articles_from_category_path('technology') %><span></span></li>
      <li<%= put_class('gadgets') %>><%= link_to "ГАДЖЕТЫ", articles_from_category_path('gadgets') %><span></span></li>
      <li<%= put_class('cosmos') %>><%= link_to "КОСМОС", articles_from_category_path('cosmos') %><span></span></li>
      <li<%= put_class('world') %>><%= link_to "МИР", articles_from_category_path('world') %><span></span></li>
    </ul>
  </div>
</div>
