<div id="header">
  <div class="nav">
    <% if current_user %>
      <ul>
        <li><b><%= Article.count %></b> статей в базе </li> |
        <li>logged in as <strong><%= current_user.username %></strong></li> |
        <li><%= link_to "На главную", articles_path %> |
        <li><%= link_to("Добавить новую статью", new_article_path) %></li>  |
        <li><%= link_to "Sign out", log_out_path, :method => :delete %></li>
      </ul>
    <% end %>
  </div>
</div>
<div id="categories">
  <div id="themes">
    <ul>
      <li><%= link_to "ТЕХНОЛОГИЯ", articles_from_category_path('technology') %></li>
      <li><%= link_to "НАУКА", articles_from_category_path('science') %></li>
      <li><%= link_to "ГАДЖЕТЫ", articles_from_category_path('gadgets') %></li>
      <li><%= link_to "КОСМОС", articles_from_category_path('cosmos') %></li>
    <ul>
  </div>
</div>
