<div id="header">
  <div id="logo">
  </div>
  <div class="nav">
    <% if current_user %>
      <ul>
        <li><b><%= Article.count %></b> статей в базе </li> |
        <li>logged in as <strong><%= current_user.username %></strong></li> |
        <li><%= link_to "На главную", articles_path %> |
        <li><%= link_to("Добавить новую статью", new_article_path) if current_user.admin? %></li> |
        <li><%= link_to "Sign out", log_out_path, :method => :delete if current_user.admin? %></li>
      </ul>
    <% end %>
  </div>
</div>
<div id="categories">
  <div id="themes">
    <a href="#"><%= image_tag("rss-icon.png", :size => "25x25", :align => "right") %></a>
    <ul class="main-menu">
      <li<%= put_class('technology') %>><%= link_to "ТЕХНОЛОГИЯ", articles_from_category_path('technology') %><span></span></li>
      <li<%= put_class('science') %>><%= link_to "НАУКА", articles_from_category_path('science') %><span></span></li>
      <li<%= put_class('gadgets') %>><%= link_to "ГАДЖЕТЫ", articles_from_category_path('gadgets') %><span></span></li>
      <li<%= put_class('cosmos') %>><%= link_to "КОСМОС", articles_from_category_path('cosmos') %><span></span></li>
    </ul>
  </div>
</div>
