<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>  
  <%= javascript_include_tag :defaults %>
  <%= auto_discovery_link_tag(:rss, "http://scione.ru/feed") %>
  <!--Vkontakte comments API -->
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?29"></script>

    <script type="text/javascript">
      VK.init({apiId: 2304429, onlyWidgets: true});
    </script>
  <!-- The end of Vkontakte comments API -->

  <!--Vkontakte Interesno API -->
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?26"></script>

    <script type="text/javascript">
      VK.init({apiId: 2304429, onlyWidgets: true});
    </script>
  <!-- The end of Vkontakte Interesno API -->

<body onselectstart="return false" style="-moz-user-select: none">

</head>
<body>
<!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->

<div class="container">
  <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"> <%= value %> </div>
    <% end %>
    <div id="content">
      <div id="top-middle">
      </div>
        <%= yield %>
        <% if controller_name == 'articles' and %w(index show).include?(action_name) %> 
          <%= render 'layouts/sidebar' %>
        <% end %>
    </div>

</div>
    <%= render 'layouts/footer' %>      
 
</body>
  <%= debug(params) if Rails.env.development? %>
</html>
